<p>nav-header works!</p>
<header class="site-header">
  <nav class="navbar navbar-fixed-top"> <!-- IMPORTANT: add the class `navbar-fixed-top` to position it at the top of the window -->

    <!-- Left utility nav -->
    <ul class="nav navbar-nav navbar-left">
      <!-- Desktop menu toggle -->
      <li class="desktop-menu-toggle hidden-mobile">
        <a href="#" data-toggle="desktop-menu" title="Desktop menu">
          <div class="hidden-closed">Close</div>
          <div class="hidden-opened"></div>
        </a>
      </li>
      <li>
        <!-- Company logo -->
        <a class="horizontal-logo" href="/" title="Return home">
          <div class="logo-image" title="NTT"></div>
          <div class="logo-title"><span>Conservation</span></div>
        </a>
      </li>
    </ul>

    <!-- Center utility nav -->
    <!-- ul class="nav navbar-nav navbar-center"></ul -->

    <!-- Right utility nav -->
    <ul class="nav navbar-nav navbar-right">
      <!-- Divider -->
      <li role="separator" class="divider hidden-desktop"></li>
      <!-- Mobile menu toggle -->
      <li class="mobile-menu-toggle hidden-desktop" data-toggle="mobile-menu" title="Mobile menu">
        <button type="button" class="navbar-btn btn"><i aria-hidden="true" class="fa fa-bars"></i></button>
      </li>
    </ul>
  </nav>
</header>
