<div class="desktop-menu">
  <div class="accordion-menu">
    <nav class="scrollbars scrollbars-light">
      <ul class="nav" data-accordion-group>
        <li><a routerLinkActive="router-link-active" routerLink='/home'>Home</a></li>
        <li><a routerLinkActive="router-link-active" routerLink='/favours'>All Favours</a></li>
        <li><a routerLinkActive="router-link-active" routerLink='/requestFavour'>Request Favour</a></li>
        <li><a routerLinkActive="router-link-active" routerLink='/transact'>Transact</a></li>
      </ul>
    </nav>
  </div>
</div>
