.fire {
  width: 100%;
  height: 20vh;
  background-image: url('../img/fire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.gun {
  width: 100%;
  height: 20vh;
  background-image: url('../img/gun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.panga {
  width: 100%;
  height: 20vh;
  background-image: url('../img/panga.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}


